body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
}

.logo {
    width: 50px;
}

.logo img {
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

button {
    position: relative;
    display: block; 
    padding: 10px 20px;
    margin: 10px auto; 
    border-radius: 15px;
    border: 2px solid transparent;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ddd;
}

.pulse-button::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 20px;
    border: none;
    animation: pulse 3s infinite alternate;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #ddd;
    }
    100% {
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }
}
